decorator==4.1.2
django
djangorestframework==3.9.4
numpy==1.16.4
pandas==0.24.2
Pillow==8.1.1
psycopg2-binary==2.8.3
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyserial==3.4
pytz==2019.1
requests==2.18.4
xlrd==1.2.0
django-filter
psycopg2-binary==2.8.3
